<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.sina.share"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- cn.com.sina.share -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name" >

     <activity 
         android:icon="@drawable/sina_icon"
         android:label="@string/app_name"
         android:name="cn.com.sina.finance.MainActivity"
            >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 

        <!-- 微信 -->
        <activity
            android:name="cn.com.sina.share.weixin.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 易信 -->
        <activity
            android:name="cn.com.sina.share.yxapi.YXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- QQ、QQ空间 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100760735" />
            </intent-filter>
        </activity>

        <!-- 微信 -->
        <receiver
            android:name="cn.com.sina.share.weixin.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <!-- 易信 -->
        <receiver
            android:name="cn.com.sina.share.yxapi.AppRegister"
            android:permission="im.yixin.sdk.permission.YIXIN_SDK_MESSAGE" >
            <intent-filter>
                <action android:name="im.yixin.sdk.api.Intent.ACTION_REFRESH_YXAPP" />
            </intent-filter>
        </receiver>
        <!-- weibo  -->
        <activity
			android:name="cn.com.sina.share.weibo.WeiboEntryActivity"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" >
			<intent-filter>
			<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
			<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
			
        <meta-data android:name="shareToWXAppKey" android:value="wx4911133aefcf929a" />
        <meta-data android:name="shareToYXAppKey" android:value="yxdef7da9340bb48978e1ab31a13125a87" />
        <meta-data android:name="shareToWEIBOAppKey" android:value="wb3036118005" />
        <meta-data android:name="shareToQQAppKey" android:value="qq100760735" />
			
    </application>
    
</manifest>